############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
.env

############################
# Virtualenv
############################
pip-wheel-metadata/
*.egg-info/
.eggs/

############################
# Logs / temp
############################
*.log
*.tmp
*.temp
*.bak

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDEs / Editors
############################
.vscode/
.idea/
*.swp

############################
# Git
############################
.gitignore~

############################
# Build / dist
############################
build/
dist/
target/
*.exe
*.dll
*.so
*.dylib
*.jar
*.war

############################
# MobSF / tools / large data
############################
mobsf_data/
tools/
downloads/
signatures/

############################
# Large binary files
############################
*.zip
*.7z
*.tar
*.gz
*.iso
*.bin
*.BIN
